@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap');
:root {
    --primary-color: hsl(215, 51%, 70%);
    --primary2-color:hsl(178, 100%, 50%);
    --neutral1-color:hsl(217, 54%, 11%);
    --neutral3-color:hsl(215, 32%, 27%);
    --neutral4-color:hsl(0, 0%, 100%);
    --neutral-color:  hsl(216, 50%, 16%);
}

body {
    margin: 0;
    padding: 0;
    font-family:'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral1-color);
}

.main-container {
   background-color:hsl(216, 50%, 16%);
   width: 340px;
   height: 80vh;
   border-radius: 10px;
}

.img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 10px;
}

div .heading {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    position: relative;
    top: 1.5rem;
}

div .description {
    color:hsl(215, 51%, 70%);
    width: 90%;
    font-weight: 300;
    position: relative;
    top: 1.5rem;
    margin-left: 20px;
    line-height: 1.5rem;
    padding: 2px;
    
}

.card-description {
    display: flex;
    justify-content: space-between;
    padding: 25px;
   
}

.card-figure .figure {
    color: hsl(178, 100%, 50%);
    position: relative;
    bottom: 0.2rem;
}

div .countdown {
    color: hsl(215, 51%, 70%);
    position: relative;
    bottom: 0.2rem;
}
div .line {
    border-bottom: 1px solid hsl(215, 51%, 70%);
    margin: 20px;
}

div .avatar {
   width: 30px;
   height: 30px;
   border: 1px solid hsl(0, 0%, 100%);
   border-radius: 20px;
}

div .footer {
    display: flex;
   justify-content: flex-start;
    position: relative;
    left: 30px;
}

.footer .creator {
    color:  hsl(215, 51%, 70%);
}

.footer .name {
    color: hsl(0, 0%, 100%);
}

.main-creator {
    margin-left: 20px;
    line-height: 2rem;
}

@media screen and (max-width:500px) {
    main-container {
        background-color:hsl(216, 50%, 16%);
        width: 400px;
        height: 90vh;
        border-radius: 10px;
     
    }
    .img {
        width: 300px;
        height: 300px;
        position: relative;
        top: 20px;
        left: 20px;
        border-radius: 10px;
    }
}